.checkorder {
    width: 1107px;
    height: 1032px;
    margin: 60px auto;
}

.title {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 0 40px;
    height: 62px;
    border-radius: 10px;
    line-height: 62px;
    width: 1027px;
}
.red {
    color: #ff0000;
}

.title p {
    font-weight: 700;
    font-size: 24px;
}

.this {
    background: linear-gradient(to right, #8607f1, #2f42fd);
    -webkit-background-clip: text;
    color: transparent;
}

.address {
    display: flex;
    height: 180px;
    padding: 30px;
    width: 1047px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    margin: 25px 0 0 0;
}

.oldaddress {
    width: 420px;
    height: 170px;
    border-radius: 10px;
    border: 3px solid transparent;
    background: linear-gradient(white, white) padding-box,
        repeating-linear-gradient(-45deg, #8607f1 0, #ccc 0.5em, white 0, #cbf1fc 0.75em);
}

.oldaddress p {
    margin: 25px 25px;
    font-size: 20px;
}

.oldaddress p span {
    margin: 0 25px 0 0;
}

.oldaddress p:nth-child(3) {
    font-size: 16px;
    margin-left: 290px;
}

.oldaddress p:nth-child(3) a em {
    font-size: 20px;
    margin-right: 10px;
    color: #89e0ff;
}

.newaddress {
    margin-left: 15px;
    width: 290px;
    height: 174px;
    border-radius: 10px;
    text-align: center;
    line-height: 184px;
    font-size: 20px;
    border: 2px solid #838383;
    /* background-color: #2f42fd; */
}

.newaddress p a span {
    font-size: 24px;
}

.confirm {
    margin-top: 25px;
    padding: 30px;
    background-color: #ffffff;
    width: 1047px;
    height: 226px;
    border-radius: 10px;
}

.confirm div:nth-child(1) {
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid #959595;
}

.confirm div:nth-child(1) p {
    margin-left: 20px;
}

.conm thead tr th {
    width: 180px;
    height: 30px;
    padding: 35px 0 0 0;
    /* margin-top: 35px; */
}

.conm tbody tr td {
    width: 180px;
    height: 100px;
    text-align: center;
}

.conm .Trade_name {
    width: 200px;
    height: 100px;
    display: flex;
}

.Trade_name img {
    margin-top: 10px;
    width: 95px;
    height: 95px;
    border: 1px solid black;
}

.Trade_name p {
    margin-top: 25px;
    font-size: 14px;
}

.Trade_name p:nth-child(2) {
    font-weight: 700;
}

.Subtotal {
    color: #ff0000;
}

.add {
    border-left: 1px solid #b8b8b8;
    padding: 0 5px;
    background-color: #f0f0f0;
}

.reduce {
    border-right: 1px solid #b8b8b8;
    padding: 0 5px;
    background-color: #f0f0f0;
}
.nod {
    display: none;
    width: 200px;
    height: 30px;
    margin: 80px auto;
}

td input {
    line-height: 17px;
    text-align: center;
    width: 30px;
    height: 17px;
}

.information {
    margin-top: 30px;
    padding: 30px;
    width: 1047px;
    height: 308px;
    background-color: #ffffff;
    border-radius: 10px;
}

.information div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 123px;
    border-bottom: 2px solid #a5a5a5;
}
.information div:nth-child(1) p {
    font-size: 18px;
}

.information div:nth-child(2) {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.information div:nth-child(2) p {
    font-size: 20px;
}
.information div:nth-child(2) p:nth-child(2) {
    font-size: 16px;
}
.btn {
    width: 135px;
    height: 35px;
    font-size: 16px;
    color: #ffffff;
    background-color: #ff0000;
    border-radius: 5px;
}